In [77]:
import warnings
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
warnings.filterwarnings("ignore")

# Data Preparation

### import the data

> We create a function called **clean** to import the data and wrangle the datas

In [84]:
def clean(path):
    df=pd.read_csv(path)
    #Rename the features to ease the analysis
    
    # Drop columns with missing value greater than 50%
    #for column in df.columns:
    #   if df[column].isnull().sum()>len(df)/2:
    #       df.drop(columns=[column],inplace=True)
    #delate features will not be included in our model
    #df.drop(columns=["Time","Country Name"],inplace=True)
    #Index countrycode
    #df=df.set_index('countrycode')
    return df

In [85]:
df=clean('Data3.csv')

In [86]:
df.head()

,Time,Country Name,Country Code,maize,Agricultural land (% of land area) [AG.LND.AGRI.ZS],Agricultural land (sq. km) [AG.LND.AGRI.K2],Arable land (% of land area) [AG.LND.ARBL.ZS],Arable land (hectares per person) [AG.LND.ARBL.HA.PC],Population growth (annual %) [SP.POP.GROW],"Population ages 15-64, male (% of male population) [SP.POP.1564.MA.ZS]","Population ages 15-64, female (% of female population) [SP.POP.1564.FE.ZS]",Population ages 15-64 (% of total population) [SP.POP.1564.TO.ZS],Urban population (% of total population) [SP.URB.TOTL.IN.ZS],Employment in agriculture (% of total employment) (modeled ILO estimate) [SL.AGR.EMPL.ZS],"Employment in agriculture, female (% of female employment) (modeled ILO estimate) [SL.AGR.EMPL.FE.ZS]"
0,2021,Angola,AGO,10836.0,36.814791,458970.0,4.309778,0.155722,3.166030,51.794773,52.648165,52.226425,67.460,58.65716,65.73271
1,2021,Benin,BEN,12064.0,35.030153,39500.0,24.831501,0.215436,2.759705,54.189234,54.502531,54.345611,48.972,28.14955,13.07583
2,2021,Botswana,BWA,7980.0,45.633723,258620.0,0.458772,0.100447,1.636743,63.295558,63.684988,63.492752,71.560,23.07407,16.44704
3,2021,Burkina Faso,BFA,17238.0,46.564327,127400.0,22.295322,0.276010,2.650376,52.990508,53.730505,53.361834,31.240,73.26725,76.05038
4,2021,Burundi,BDI,15556.0,81.892523,21030.0,49.454829,0.101185,2.672478,50.990671,51.466715,51.230355,14.058,85.85030,93.65079

In [89]:
df.columns

Index(['Time', 'Country Name', 'Country Code', 'maize',
       'Agricultural land (% of land area) [AG.LND.AGRI.ZS]',
       'Agricultural land (sq. km) [AG.LND.AGRI.K2]',
       'Arable land (% of land area) [AG.LND.ARBL.ZS]',
       'Arable land (hectares per person) [AG.LND.ARBL.HA.PC]',
       'Population growth (annual %) [SP.POP.GROW]',
       'Population ages 15-64, male (% of male population) [SP.POP.1564.MA.ZS]',
       'Population ages 15-64, female (% of female population) [SP.POP.1564.FE.ZS]',
       'Population ages 15-64 (% of total population) [SP.POP.1564.TO.ZS]',
       'Urban population (% of total population) [SP.URB.TOTL.IN.ZS]',
       'Employment in agriculture (% of total employment) (modeled ILO estimate) [SL.AGR.EMPL.ZS]',
       'Employment in agriculture, female (% of female employment) (modeled ILO estimate) [SL.AGR.EMPL.FE.ZS]'],
      dtype='object')

In [70]:
df.columns

Index(['maize', 'feat1', 'feat2', 'feat3', 'feat4', 'feat5', 'feat6', 'feat7',
       'feat8', 'feat9', 'feat10', 'feat11'],
      dtype='object')

In [43]:
#describe Maize
df['maize'].describe().apply("{0:.0f}".format)

count       43
mean     16842
std      13538
min        163
25%       8354
50%      15216
75%      20222
max      86406
Name: maize, dtype: object

In [42]:
df=df.rename(columns={['Country Name':"countryname", 'Country Code':"iso3",
       'Agricultural land (% of land area) [AG.LND.AGRI.ZS]':"feat1",
       'Agricultural land (sq. km) [AG.LND.AGRI.K2]',
       'Arable land (% of land area) [AG.LND.ARBL.ZS]',
       'Arable land (hectares per person) [AG.LND.ARBL.HA.PC]',
       'Population growth (annual %) [SP.POP.GROW]',
       'Population ages 15-64, male (% of male population) [SP.POP.1564.MA.ZS]',
       'Population ages 15-64, female (% of female population) [SP.POP.1564.FE.ZS]',
       'Population ages 15-64 (% of total population) [SP.POP.1564.TO.ZS]',
       'Urban population (% of total population) [SP.URB.TOTL.IN.ZS]',
       'Employment in agriculture (% of total employment) (modeled ILO estimate) [SL.AGR.EMPL.ZS]',
       'Employment in agriculture, female (% of female employment) (modeled ILO estimate) [SL.AGR.EMPL.FE.ZS]']})

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49 entries, AGO to SOM
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   maize   43 non-null     float64
 1   feat1   49 non-null     int64
 2   feat2   49 non-null     int64
 3   feat3   49 non-null     int64
 4   feat4   49 non-null     int64
 5   feat5   49 non-null     int64
 6   feat6   49 non-null     int64
 7   feat7   49 non-null     int64
 8   feat8   49 non-null     int64
 9   feat9   49 non-null     int64
 10  feat10  48 non-null     float64
 11  feat11  48 non-null     float64
dtypes: float64(3), int64(9)
memory usage: 5.0+ KB

In [72]:
df.select_dtypes('object').nunique()

Series([], dtype: float64)